﻿.mGrid { 
    width: 100%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
    
}
.mGrid td { 
    padding: 5px; 
    border: solid 1px #c1c1c1; 
    color: Black; 
	text-transform:uppercase    
}
.mGrid th { 
    padding: 8px 5px; 
    color: #595130;	
    background: #e9f7bc;
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
	text-transform:uppercase;
	font-size:12px;
    
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr { background: url(../images/nav-back.gif) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color:#C1C1C1; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }
