﻿.radiobuttonlist
{
	font: 12px Verdana, sans-serif;
	color: #000; /* non selected color */
}

.radiobuttonlist input
{
	width: auto;
	height: auto;
}
.radiobuttonlist label
{
	color: #3E3928;
	background-color:#fff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #AAAAAA;
	margin-left:5px;
	white-space: nowrap;
	clear: left;
	margin-right: 5px;
	display:inline;
}
.radiobuttonlist span.selectedradio label
{
	background-color: #F7F5E8;
	color: #000000;
	font-weight: bold;
	border-bottom-color: #F3F2E7;
	padding-top:4px;
 
}
.radiobuttonlist label:hover
{
	color: #CC3300;
	background: #fff;
}
 
.radiobuttoncontainer
{
	position:relative;
	z-index:1;
}
 
.radiobuttonbackground
{
	position:relative;
	z-index:0;
	border: solid 1px #AcA899; 
	padding: 10px; 
	background-color:#FFA500;
}