html, body { padding: 0; margin: 0; }
.full-width-hack { padding-right: 20px; }
textarea {
    border: 1px solid #A5ACB2; padding: 5px; width: 71%;
    font: 14px/18px 'Helvetica', 'Arial', 'sans-serif';
}

#tooltip	{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
	}
#tooltip h6, #tooltip div	{
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	}