@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face 
{
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular_4D.otf');
    src: url('../fonts/MyriadPro-Regular_4D.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Swis721 Cn BT';
    src: url('../fonts/swissc.ttf');
    src: url('../fonts/swissc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Signika-Regular';
    src: url('../fonts/Signika-Regular.ttf');
    src: url('../fonts/Signika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* CSS Document */
@font-face 
{
    font-family: 'calibri';
    src: url('../fonts/calibri.ttf');
    src: url('../fonts/calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	margin:0;
	padding:0;
	font-family: Calibri,Arial,sans-serif,Tahoma;
	background-color:#eee;
}	
#main{
	width:100%;
}
.header{
	background-color:#003E6F;
	height:90px;
}
.logo{
	float:left;
	margin:7px 0px 0px 30px;
	width:300px;
}
.menu{
	float:left;
	margin:28px 0px 0px 500px;
	width:38%;
	font-size:16px;
}
.navigation{
	background-color:#1BC4F2;
	height:40px;
	
}
.shift{
	 font-size: 15px;
    left: 40px;
    text-align: left;
    top: 42px;
    width: 180px;
 z-index: 999999;

}
.shift1{
	 font-size: 15px;
    left: 135px;
    text-align: left;
    top: 42px;
    width: 180px;
    z-index: 999999;
}
.shift2 {
    font-size: 15px;
    left: 118px;
    text-align: left;
    top: 42px;
    width: 180px;
    z-index: 999999;
}
.shift2a{
	font-size: 13px;
    left: 245px;
    text-align: left;
    top: 10px;
    width: 219px;
    z-index: 999999;
	background-color:#E99A1E;
}
.shift3 {
    font-size: 15px;
    left: 230px;
    text-align: left;
    top: 42px;
    width: 180px;
    z-index: 999999;
}
.shift4 {
    font-size: 15px;
    left: 300px;
    text-align: left;
    top: 42px;
    width: 180px;
    z-index: 999999;
}
.shift4a{
	font-size: 15px;
    left: -130px;
    text-align: left;
    top: 0px;
    width: 130px;
    z-index: 999999;
    background-color: #000;
}
.shift5 {
    font-size: 15px;
    left:279px;
    text-align: left;
    top: 42px;
    width: 155px;
    border-left: 1px solid #eee;
    z-index: 999999;
}
.shift6{
	font-size: 15px;
    left: 948px;
    text-align: left;
    top: 29px;
    width: 176px;
	border-left: 1px solid #eee;
	z-index: 999999;
}
.shift6a{
	font-size: 13px;
    left: 145px;
    text-align: left;
    top: 10px;
    width: 180px;
    z-index: 999999;
	background-color:#E99A1E;
}
.data{
  height: 280px;
    overflow-y: scroll;
    position: relative;
}
.data1{
  height: 275px;
 }
.table{
	border:1px solid #ddd; border-radius:10px; background-color:#fff; /*box-shadow: 2px 2px 2px gray;*/
}
.NFButton {
    background: #FF7D01;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    height: 33px;
    margin-top: -2px;
    padding: 0 15px;
    vertical-align: middle;
    width: auto;
}
nav {
	margin-top: 0px; 
	text-align: center;
	float: right;
	font-family: Calibri,Arial,sans-serif,Tahoma;
	font-size:18px;
	height:60px;
	margin-right:60px
}
h2{
	font-family: Calibri,Arial,sans-serif,Tahoma;
	color:#003E6F;
	border-bottom:0px dashed #ccc;
}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	/*background: #efefef;*/ 
	/*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  */
	/*background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);*/ 
	/*background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);*/ 
	/*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
	/*padding: 0 47px;*/
	/*border-radius: 10px;*/  
	list-style: none;
	position: relative;
	display: inline-table;
	margin-left: 0px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
		border-right: 0px solid #eee;
	}
		nav ul li:hover {
			background: orange;
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 10px 15px;
			color: #fff; text-decoration: none;
			
		}
			
		
	nav ul ul {
		background: #1C3700; border-radius: 0px; padding: 0;z-index:999999;
		position: absolute; top: 100%;
		
	}
		nav ul ul li {
			float: none; 
			
			border-bottom: 1px solid #575757; position: relative;
		}
			nav ul ul li a {
				padding: 7px 15px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: orange;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
	
.hastable tr td, .hastable thead th {
    border-left: 1px solid #cccccc;
    color: #333;
    padding: 5px;
    text-align: left;
}
.hastable tr td {
    vertical-align: middle;
}
.hastable th, .hastable td {
    border-bottom: 1px solid #ddd;
}
td.highlightlabel {
    background: #e3f0ff none repeat scroll 0 0 !important;
    border-left: 6px solid #f9f9f9 !important;
    color: #000 !important;
    font-weight: normal;
}
.maintable {
    background-color: #ffffff;
    border-top: 0px solid #cbcbcb;
    font-family: Calibri,Arial,sans-serif,Tahoma;
    font-size: 13px;
    font-weight: normal;
}
.maintable1 {
    background-color: #ffffff;
    border-top: 1px solid #cbcbcb;
    font-family: Calibri,Arial,sans-serif,Tahoma;
    font-size: 13px;
    font-weight: normal;
}
.hastable select, .invoicebill select {
    border-radius: 3px;
    color: #454545;
    font-family: Calibri,Arial,sans-serif,Tahoma;
    font-size: 13px;
    height: 25px;
    margin: 0 3px;
    padding: 1px 2px;
}
.roundedbox {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ababab;
    height: 21px;
    width: 250px;
}
.hastable input[type="text"], .hastable input[type="password"], .hastable input[type="file"] {
    border-radius: 3px;
    color: #454545;
    font-family: Calibri,Arial,sans-serif,Tahoma;
    font-size: 12px;
    height: 20px;
    margin: 0 3px;
    padding: 1px 2px;
}
.hastable textarea {
    border-radius: 3px;
    color: #454545;
    font-family: Calibri,Arial,sans-serif,Tahoma;
    font-size: 13px;
    height: 35px;
    margin: 0 3px;
    padding: 1px 2px;
}
.logout{
	font-size:18px;
	color:#fff;
	font-weight:bold;
}	
.button {
    background-color: #FAB500; /* Green */
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
	font-weight:bold;
	font-family: Calibri,Arial,sans-serif,Tahoma;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2 {background-color: #FAB500;} /* Blue */

.button1 { 
	background-color: #666;
    font-size: 14px;
    height: 30px;
    padding: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
    width: 129px;} /* Blue */

.button1:hover{
    background-color: #bbb; 
    color: #fff; 
    border: 0px solid #4CAF50;
}

.button2:hover{
    background-color: #666; 
    color: #fff; 
    border: 0px solid #4CAF50;
}