﻿body 
{	
	background-color: #596A40;
    color: #333333;
    font-size: 0.8em;
    margin: 5px 0 0;
    padding: 0;
}
.wrapper 
{
    margin: auto;
    width: 870px;
}
.page_wrapper 
{
    float: left;
    margin-top: 72px;
    width: 100%;
}
.page 
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    padding: 15px;
    width: 950px;
    position:fixed;
}
.intro 
{
    color: #666666;
    font-family: Georgia,"Times New Roman",Times,serif;
}
.intro h1 
{
    color: #056735;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 2.4em;
    font-weight: normal;
    margin-bottom: 5px;
}
.login-area 
{
    /*background: none repeat scroll 0 0 #F1F1F1;*/
    /*float: left;*/
    /*padding: 10px;*/
    /*width: 450px;*/
}
.margin_ten_right { margin-right: 0px;}
.margin {margin-top:-25px;}
.login-area h2 
{
    color: #768607;
    font-size: 2em;
    font-weight: normal;
    line-height: 20px;
    margin-top: 0;
    padding: 5px;
}
.formmenu 
{
    /*background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E6E6;
    margin-bottom: 10px;
    padding: 10px;*/
}

.loginform {font-family:Verdana; }
.loginform label {	display:inline-block;}
.loginform .field 
{
    
    color: #666666;
    margin-bottom: 0px;
    padding: 4px;
    width: 250px;
}
h2 
{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.formmenu a 
{
    color: #056735;
    font-weight: bold;
}
.margin_ten {  margin-top: 10px;}
a 
{
    color: #056735;
    text-decoration: none;
}
.clr 
{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.b_submit 
{
    border-style: none;
	border-color: inherit;
	border-width: 0;
	background: #FFA500;
	display: inline-block;
	font-family: arial;
	vertical-align: middle;
	width: 70px;
}
.textbutton 
{
    color: #ffffff !important;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    margin-top: 0px;
    text-align: center;
}
.rptname {font-weight: bold;font-size:16px; color:#F27400}
.right { float: right;}
.left {	float:left;}
.input-validation-error 
{
    background-color: #FFEEEE !important;
    border: 1px solid #FF0000 !important;
    color: #666666;
    font-style: italic;
}
.top { float: left; width: 980px;}
.nav { background: url("/images/nav-back.gif") repeat-x scroll 0 0 #13884D;}
.nav ul 
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav li { float: left; padding-top: 1px;}

.form-buttons              { margin: 20px 0 0;}
.form-buttons-top          { margin: 0 0 20px; }
.form-buttons-top .title   { margin: 0 5px 0 0; }

.row { margin: 0 0 7px; }
.form-side-labels label    { float: left; display: block; padding: 1px 0 0 0; width: 150px; }
.form-side-labels .field   { float: left; padding: 1px 0 0; }
.form-side-labels input    { float: left; }
.form-side-labels select   { float: left; }
.form-side-labels textarea { float: left; }
.form-top-labels .row      { margin: 0 0 7px; }
.form-top-labels label     { display: block; margin: 0 0 7px; }
.side-by-side              { float: left; margin: 0 10px 7px 0; }
.side-by-side-last         { float: left; margin: 0 0 7px 0; }

fieldset 
{
	display: block;
	padding: 0.5em 1em;
	width: 75em;
	border: solid #DEDEDE 2px;
}
legend 
{
	font-weight: bold;
	color: #056735;
}
input.small, input.medium, input.large, input.title
{
	padding: 2px;
	font-size: 13px;
	border: 1px solid #7f9db9;
}
.ie6 input.small, .ie6 input.medium, .ie6 input.large, .ie6 input.title,
.ie7 input.small, .ie7 input.medium, .ie7 input.large, .ie7 input.title,
.ie8 input.small, .ie8 input.medium, .ie8 input.large, .ie8 input.title
{ margin: -1px 0 0 0; }

input.three  { width: 30px; }
input.four   { width: 40px; }
input.five   { width: 50px; }
input.date   { width: 80px; }
input.small  { width: 93px; }
input.medium { width: 200px; }
input.large  { width: 416px; }

.validation-summary
{
	margin: 5px 0 10px 0;
	padding: 10px;
	font-size: 16px;
	color: #000;
	border: 4px solid #fed;
}
.validation-summary ul, .validation-summary ul li
{
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 12px;
	color: #e00;
}
.validation-summary ul li
{
	margin: 2px 0 7px 20px;
	list-style-type: square;
	background-image: none;	
}
.failed-validation { color: #f00; }
label.required  { font-weight: bold; }

input.error  { background: #fed; border: 1px solid #e00; }
select.error { background: #fed; border: 1px solid #e00; }
span.error, .form-side-labels span.error, .form-top-labels span.error
{
	-moz-border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px #000000;
    background: none repeat scroll 0 0 #EE0101;   
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;  
    padding: 6px 10px;
    position: relative;
    top: 5px;
    width: 150px;
    z-index: 5001;
}
.form-top-labels span.error
{
	float: none;
	margin: 3px 0 0;
	width: 416px;
}
.form-top-labels .side-by-side span.error, .form-top-labels .side-by-side-last span.error { width: 200px; }
.incont 
{
    float: left;
    font-family: Georgia;
    font-size: 14px;
    height: 160px;
    margin: 25px 6px 6px;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 184px;
}
.maintable 
{
    border: 1px solid #E1E1E1;
    margin-bottom: 0;
    margin-top: 0;
}
.tablec 
{
    background-color: #CCCCCC;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 3px 10px;
}
.tableh1 
{
    background: #f2f2f2;
    border-bottom: 1px solid #CED2D6;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #606F79;
    font-size: 12px;
    height: 18px;
    padding: 8px 12px 8px 8px;
    font-family: verdana;
    font-weight: bold;
}
.checkbox, .radio 
{
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.styled{display:none;}
.header { text-align: center;}
.left-menu 
{
    clear: left;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    margin-top: -15px;
}
.main-body 
{
    background: url("./image002.jpg") repeat scroll 0 0;
    clear: none;
    color: #000000;
    float: none;
}
.main-body {  margin: 20px 50px 20px 50px; border:1px dashed #d3d3d3}
.welcome
{
	color: #fff;
    float: right;
    margin-right: 8px;
    margin-top: 3px;
    font-size: 18px;
}
h1.logo 
{
    height: 70px;
    margin-top: 40px;
    width: 346px;
    margin-left: 50px;
}
h1.logo a {
    background: url("../images/logo.png") no-repeat scroll left center transparent;
    display: block;
    height: 63px;
    width: 346px;
}
.rparrw, .resPrev, .editPrfl, .cvrlett, .inactRes, .rpLbxTop, .rpLbxBot, .actIcon, .rpeditLf, .inactIcon, .exclaim, .rparrw1, .greentick1 
{
    background: url("../images/mhpSprites.png") no-repeat scroll 0 0 transparent;
}
.rpeditLf 
{
    background-position: 0 -31px;
    height: 23px;
    width: auto;
}
.t11 { color: #000000; font: 11px verdana,arial;}
.edpd { padding: 10px 10px 0;}
.rpeditRt { background: url("../images/imageR.png") no-repeat scroll 0 0 transparent;}
.dashboardheader 
{
	border-bottom: 1px solid #dedede; 
	color: #1c3700;
	font-weight: normal;
	height: 40px;
	font-size:18px; 
	font-family: Calibri,Arial,sans-serif,Tahoma; 
	border-radius:10px 10px 0 0;
	background: #bddd77;
}