﻿ul.quicktabs_tabs.quicktabs-style-excel {
    background: url("../images/tab-bar.png") repeat-x scroll left bottom transparent;
    font-size: 1em;
    height: 24px;
    list-style: none outside none;
    margin: 0;
    padding: 0 15px;
}
ul.quicktabs_tabs.quicktabs-style-excel li {
    float: left;
    margin: 0 -5px -5px;
    padding: 0 0 0 10px;
}
ul.quicktabs_tabs.quicktabs-style-excel li a {
    background: url("../images/tab-right-sep.png") no-repeat scroll right -38px transparent;
    border-width: 0;
    display: block;
    font: bold 12px/170% Verdana;
    margin: 0;
    padding: 4px 22px 0 12px;
    text-decoration: none;
}
ul.quicktabs_tabs.quicktabs-style-excel li:hover {
}
ul.quicktabs_tabs.quicktabs-style-excel li a:hover {
    color: #000000;
}
ul.quicktabs_tabs.quicktabs-style-excel li.active {
    background: url("../images/tab-left-sep.png") no-repeat scroll left 0 transparent;
}
ul.quicktabs_tabs.quicktabs-style-excel li.active a {
    background: url("../images/tab-right-sep.png") no-repeat scroll right 0 transparent;
}
ul.quicktabs_tabs.quicktabs-style-excel li.first {
    background: url("../images/tab-left.png") no-repeat scroll left -38px transparent;
}
ul.quicktabs_tabs.quicktabs-style-excel li.first:hover {
}
ul.quicktabs_tabs.quicktabs-style-excel li.first.active {
    background: url("../images/tab-left.png") no-repeat scroll left 0 transparent;
}
ul.quicktabs_tabs.quicktabs-style-excel li.last a {
    background: url("../images/tab-right.png") no-repeat scroll right -38px transparent;
}
ul.quicktabs_tabs.quicktabs-style-excel li.last a:hover {
}
ul.quicktabs_tabs.quicktabs-style-excel li.last.active a {
    background: url("../images/tab-right.png") no-repeat scroll right 0 transparent;
}

.quicktabs_main.quicktabs-style-excel 
{
    border: 1px solid #E2E2E2;  
     width: 100%;
}
