@charset "utf-8";


#newsWidget .intro{

    margin-top: -22px;
	text-align:justify;

}
#newsWidget ul{margin-left:0;padding-left:0;list-style:none}
#newsWidget ul li{padding-left:5px;background-image:url(news.jpg);background-repeat:no-repeat;background-position:0 12px}
#newsWidget h4{font-size:12px;color:#424242;margin:0;padding:10px 0 5px}
#newsWidget .description{margin:0;padding:0 0 5px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#newsWidget .date{font-size:10px;color:gray}
#newsWidget .date,#newsWidget .link{font-size:10px;color:gray;padding:0 5px 0 0;margin:0 5px 0 0;border-right:solid 1px gray}
#newsWidget .websiteTitle{    color: #855616 !important;
    font-family: "Times New Roman",Times,serif; text-decoration:none;
    font-size: 13px;}
#newsWidget a:link,#newsWidget a:active,#newsWidget a:visited{color: #855616 !important;
    font-family: "Times New Roman",Times,serif;text-decoration:none;
    font-size: 13px;}
#newsWidget a:hover{    color: #413F14 !important;text-decoration:none;
    font-family: "Times New Roman",Times,serif;
    font-size: 13px;}
#newsWidget a:hover{    color: #855616 !important;text-decoration:none;
    font-family: "Times New Roman",Times,serif;
    font-size: 13px;}