﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CalMulitpleSelection.aspx.cs" Inherits="CalMulitpleSelection" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h3>Using Calendar</h3>
        Please enter your requested vacation dates:
        <asp:Calendar id="Calendar1" runat="server"   selectionmode="DayWeekMonth" 
            onselectionchanged="Cal_SelectionChanged" 
            ondayrender="Calendar1_DayRender" />
        <asp:Button ID="Show" runat="server" Text="Button" onclick="Show_Click" />
        <br>
        <asp:label id="VacationLabel" runat="Server" />
        <br />
        <br />
        <table style="width:100%;">
            <tr>
                <td rowspan="3">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
        </table>
        <br />
    </div>
    </form>
</body>
</html>
