﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ImportFromExcel1.aspx.cs" Inherits="ImportFromExcel1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:FileUpload ID="fileuploadExcel" runat="server" />
            <br />
            <br />
        <asp:Button ID="btnSend" runat="server" Text="Send" onclick="btnSend_Click" />    
    </div>
    </form>
</body>
</html>
