﻿<%@ Page Language="C#" MasterPageFile="~/MasterHome1.master" AutoEventWireup="true" CodeFile="TestDates.aspx.cs" Inherits="TestDates" Title="Untitled Page" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:Button ID="Button1" runat="server" Text="Button" onclick="Button1_Click" />


<cc1:ToolkitScriptManager runat="Server" EnablePartialRendering="true" ID="ScriptManager1" />

<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
<br />
<cc1:CalendarExtender ID="calendar1" runat="Server" BehaviorID="Calendar1"
TargetControlID="TextBox1" OnClientDateSelectionChanged="dateselect" 
        OnClientHidden="calendarhidden" OnClientShown="setInitialValue" />

<script type="text/javascript">
var tmpDates = "";

function setInitialValue() {
tmpDates = $get("<%=TextBox1.ClientID %>").value;
}
function dateselect(ev) {
var calendarBehavior1 = $find("Calendar1");
var date = calendarBehavior1._selectedDate.format("dd/MM/yyyy");
if (tmpDates.indexOf(date) < 0) {
if (tmpDates != "") { $get("<%=TextBox1.ClientID %>").value = tmpDates + "," + date; }
else { $get("<%=TextBox1.ClientID %>").value = date; }
}
else { $get("<%=TextBox1.ClientID %>").value = tmpDates; }
}
function calendarhidden(obj) {
var tbxValue = $get("<%=TextBox1.ClientID %>").value;
calendarBehavior = $find("Calendar1");
if (tmpDates.toString() != tbxValue.toString()) {
calendarBehavior.show();
}
}

</script>


</asp:Content>

