		
		<link rel="stylesheet" href="css/styles1.css" type="text/css" media="screen" />
		
		<div id="newsWidget"> <div style=" display:none;  background-color: #F5F5F5; color:8F1B05;    font-size: 15px;    font-weight: bold;    letter-spacing: 11px;    text-align: center;">Live  News</div>
		<div class="intro"> 
		<ul id="news"></ul>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script> 
		<script type="text/javascript" src="js/jquery.newsWidget.js"></script> 
		<script type="text/javascript"> 
		$('ul#news').newswidget({ source: ['http://www.ndtv.com/convergence/ndtv/rssnat.asp','http://rss.news.yahoo.com/rss/india','http://www.hindu.com/rss/nushdline.xml','http://sify.com/rss/news.php','http://www.dnaindia.com/syndication/rss,catID-1.xml','http://newsrack.in/crawled.feeds/hd.rss.xml','http://rss.news.yahoo.com/rss/india','http://www.rediff.com/rss/getaheadrss.xml'],
		proxyUrl: "get_rss_feed.php",
		limitItems: 3,
		refresh: 10000,
		random: true,
		itemDateElement: "span",
		itemLinkElement: "span",
		itemWebsiteTitleElement: 'span',
		linkTitle: true,
		format: "title,description,date,link,websiteTitle"});
		</script> 