﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterHome1.master" AutoEventWireup="true" CodeFile="CreateIndex.aspx.cs" Inherits="CreateIndex" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<asp:Button ID="btn_save" runat='server' Text="Generate" OnClick="btn_save_Click"/>
<br /><br />
<asp:Button ID="btn_updatekco" runat='server' Text="Update KCO" 
        onclick="btn_updatekco_Click" />

<br /><br />
<asp:Button ID="btn_updatechief" runat='server' Text="Update Chief CO" 
        onclick="btn_updatechief_Click"  />

<br /><br />
<asp:Button ID="btn_updatefho" runat='server' Text="Update Family HO" />
<br /><br />
<asp:Button ID="btn_updateinvestigation" runat='server' Text="Update Investigation" />
<br /><br />
<asp:Button ID="btn_AF" runat='server' Text="Update AF" />
<br /><br />
<asp:Button ID="btn_mind" runat='server' Text="Update Mind" />
<br /><br />
<asp:Button ID="btn_pastho" runat='server' Text="Update Past HO" />
<br /><br />
<asp:Button ID="btn_physicalgenerals" runat='server' Text="Update Physical Generals" />
<br /><br />
<asp:Button ID="btn_thermal" runat='server' Text="Update Thermal" />

</asp:Content>

