﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterHome.master.cs" Inherits="MasterHome" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<title>Aditya Homoeopathic Hospital & Healing Centre</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link href="css/styleAks.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.2.6.min.js"></script>
<link media="screen" rel="stylesheet" href="facebook/colorbox.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="facebook/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Examples of how to assign the ColorBox event to elements
        $("a[rel='example1']").colorbox();
        $("a[rel='example2']").colorbox({ transition: "fade" });
        $("a[rel='example3']").colorbox({ transition: "none", width: "75%", height: "75%" });
        $("a[rel='example4']").colorbox({ slideshow: true });
        $(".example5").colorbox();
        $(".example6").colorbox({ iframe: true, innerWidth: 625, left: 381.5, innerHeight: 444 });
        $(".example7").colorbox({ width: "85%", height: "90%", iframe: true });
        $(".example10").colorbox({ width: "50%", height: "50%", iframe: true });
        $(".example8").colorbox({ width: "50%", inline: true, href: "#inline_example1" });
        $(".example9").colorbox({
            onOpen: function () { alert('onOpen: colorbox is about to open'); },
            onLoad: function () { alert('onLoad: colorbox has started to load the targeted content'); },
            onComplete: function () { alert('onComplete: colorbox has displayed the loaded content'); },
            onCleanup: function () { alert('onCleanup: colorbox has begun the close process'); },
            onClosed: function () { alert('onClosed: colorbox has completely closed'); }
        });

        //Example of preserving a JavaScript event for inline calls.
        $("#click").click(function () {
            $('#click').css({ "background-color": "#f00", "color": "#fff", "cursor": "inherit" }).text("Open this window again and this message will still be here.");
            return false;
        });
    });
</script>
<script type="text/javascript">

    if (top.location != self.location) {
        top.location = self.location.href
    }

</script>
<%--
<script language="javascript" type = "text/javascript">
	function logout() {
		alert('LogOut');
		Session.Clear();
		Session.Abandon();
	  window.open('Login.aspx');
	}
</script>--%>

<asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>

<body>
    <form id="form1" runat="server">
<%--    <div class="header">
			<div style="float: left; margin-top: -26px">
				<h1 class="logo">
					<a title="" href="javascript:void(0)"><span></span></a>
				</h1>
			</div>
			<asp:Label ID="lbluname" runat="server" Text="" CssClass="welcome"></asp:Label>
			<div style="width: 100%;">
				<table style="background-color: rgb(255, 255, 255); position: absolute; width: 100%;">
					<tbody>                 
						<tr>
						  <td height="30" align="center" valign="top" bgcolor="#F27403">
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td>
									 <nav>
								<ul>
									<li><a href="#" style="border-left: 1px solid #eee;">Master</a>
										<ul class="shift">
										  <li><a href="Home.aspx">Home</a></li>
											 <% if (Session["urole"].ToString() == "1")
											{%>
											 <li><a href="AddUser.aspx">User</a></li>
											 <li><a href="TestMaster.aspx">Test</a></li>
											 <li><a href="AddNewPatient.aspx?flag=new">Patient</a></li>
											 <li><a href="AddDoctor.aspx">Doctor</a></li>
											 <li><a href="RemedyMaster.aspx">Remedy</a></li>
											 <li><a href="WardMaster.aspx">Ward</a></li>
											 <li><a href="BadMaster.aspx">Bed</a></li>
											<%
											 }
											%>
							
											<% if (Session["urole"].ToString() == "1" || Session["urole"].ToString() == "3")
											{%>
											<li><a href="Courier.aspx">Courier</a></li>
											<%
											 }
											%>
										</ul>
									</li>
									
									<li><a href="#">Transaction</a>
										<ul class="shift2">
										<% if (Session["urole"].ToString() == "1")
											{%>	<li><a href="SetAppointment.aspx">Set Appoinment</a></li>
											<li><a href="Confirm_Appoinment.aspx">Confirm Appoinment</a></li>
											<%
										 }
										%>
										   <% if (Session["urole"].ToString() == "1")
										  {%>  <li><a href="SearchPatient.aspx" class='example7'>My Case</a></li>
											<li><a href="ManageBill.aspx">My Bill</a></li>
											  <%
											   }
												%>
							
												<% if (Session["urole"].ToString() == "1" || Session["urole"].ToString() == "5")
										  {%> 
											<li><a href="AddInvestigation.aspx">Investigation</a></li>
							
											 <%
											   }
												%>
							
										</ul>
									</li>
									<li><a href="#">Reports</a>
										<ul class="shift3">
											<li><a href="PFTReport.aspx?flag=new">All Reports</a></li>
											<li><a href="OccupiedBed.aspx">Bed Details</a></li>
											<li><a href="ViewAppointment.aspx">Today's Appoinment</a></li>
											<li><a href="CourierView.aspx">View Courier Details</a></li>
										</ul>
									</li>
									 <% if (Session["urole"].ToString() != "4" || Session["urole"].ToString() != "5" || Session["urole"].ToString() != "6")
									 {%>
										  <li><a href="ManageReport.aspx">My Reports</a></li>
									 <%
									  }
									  %>
									<li><a href="#">Utility</a>
										<ul class="shift4">
											 <li><a href="ChangePassword.aspx">Chnage Password</a></li>
									   </ul>
									</li>
								</ul>
							</nav>
								  </td>
								</tr>
							  </table>
						  </td>
						</tr>
					 </tbody>
				</table>
			</div>
    	</div>    
		<div class="main-body">
			<div class="page_wrapper">
				<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
				</asp:ContentPlaceHolder>
			</div>
		</div>--%>
		<center>
		 <table width="100%" border="0" cellspacing="0" cellpadding="0">
		   <tr>
			  <td height="20px" align="center" valign="middle" bgcolor="#768607">
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
				  <td width="" align="left" valign="middle">
				  <a href="Home.aspx"><img src="images/logo.png" style="margin-left:12%" alt="Aditya" width="300px" border="0" /></a>
				  </td>
				  <td width="" align="left" valign="middle">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="89%" align="right" valign="middle">
								<span class="style5"> <asp:Label ID="lbluname" runat="server" Text="" CssClass="welcome"></asp:Label>
								</span>
							</td>
							<td colspan="2" width="20%" align="left" valign="middle">
								<a href="Logout.aspx">
								<asp:Image ID="imgLogOut" runat="server" ImageUrl="~/images/logOut.png" Height="15px" Width="15px" style="margin-top: 8px" ToolTip="Logout" />
								</a>
							</td>
						</tr>
						<tr>
						  <td colspan="2" align="right">              
							<nav>
                               <%-- <ul>
                                	<li><a href="#" style="border-left: 0px solid #eee;">Master</a>
                                    <ul class="shift">
                                      <li><a href="Home.aspx">Home</a></li>
                                         <% if (Session["urole"].ToString() == "1")
                                        {%>
                                         <li><a href="AddUser.aspx">User</a></li>
                                         <li><a href="TestMaster.aspx">Test</a></li>
                                         <li><a href="AddNewPatient.aspx?flag=new">Patient</a></li>
                                         <li><a href="AddDoctor.aspx">Doctor</a></li>
                                         <li><a href="RemedyMaster.aspx">Remedy</a></li>
                                         <li><a href="WardMaster.aspx">Ward</a></li>
                                         <li><a href="BadMaster.aspx">Bed</a></li>
                                        <%
                                         }
                                        %>
                        
                                        <% if (Session["urole"].ToString() == "1" || Session["urole"].ToString() == "3")
                                        {%>
                                        <li><a href="Courier.aspx">Courier</a></li>
                                        <%
                                         }
                                        %>
                                    </ul>
                                </li>
                                
                                <li><a href="#">Transaction</a>
                                    <ul class="shift2">
                                    <% if (Session["urole"].ToString() == "1")
                                        {%>	<li><a href="SetAppointment.aspx">Set Appoinment</a></li>
                                        <li><a href="Confirm_Appoinment.aspx">Confirm Appoinment</a></li>
                                        <%
                                     }
                                    %>
                                       <% if (Session["urole"].ToString() == "1")
                                      {%>  <li><a href="SearchPatient.aspx" class='example7'>My Case</a></li>
                                        <li><a href="ManageBill.aspx">My Bill</a></li>
                                          <%
                                          }
                                          %>
                        
                                          <% if (Session["urole"].ToString() == "1" || Session["urole"].ToString() == "5")
                                            {%> 
                                         <li><a href="AddInvestigation.aspx">Investigation</a></li>
                                         <%
                                           }
                                         %>
                                    </ul>
                                </li>
                                <li><a href="#">Reports</a>
                                    <ul class="shift3">
                                        <li><a href="PFTReport.aspx?flag=new">All Reports</a></li>
                                        <li><a href="OccupiedBed.aspx">Bed Details</a></li>
                                        <li><a href="ViewAppointment.aspx">Today's Appoinment</a></li>
                                        <li><a href="CourierView.aspx">View Courier Details</a></li>
                                    </ul>
                                </li>
                                     <% if (Session["urole"].ToString() != "4" || Session["urole"].ToString() != "5" || Session["urole"].ToString() != "6")
                                     {%>
                                          <li><a href="ManageReport.aspx">My Reports</a></li>
                                     <%
                                      }
                                     %>
                                <li><a href="#">Utility</a>
                                   <ul class="shift4">
                                         <li><a href="ChangePassword.aspx">Change Password</a></li>
                                   </ul>
                                </li>
                                <li><a href="ManageReport.aspx">Log Out</a></li>
                                    </ul>
                                      </nav>--%>
								<ul>
								<li><a href="Home.aspx" style="border-left: 0px solid #eee;">Home</a></li>        
                                <li><a href="#">New Case</a>
                                    <ul class="shift2">
                                        <li><a href="TodaysPatientList.aspx?ListType=NewCase">New Case List</a></li>
                                        <li><a href="NewAppointment.aspx">Set Appoinment</a></li>
                                        <li><a href="Confirm_Appoinment.aspx?PatType=1">Confirm Appoinment</a></li>
                                          <li><a href="RecNNewCasePrint.aspx">New/Revisit Form</a></li>
                                   </ul>
                                </li>
                                <li><a href="#">OPD</a>
                                    <ul class="shift3">
                                        <li><a href="TodaysPatientList.aspx?ListType=OPDCase">OPD List</a></li>
                                        <li><a href="SearchPatient.aspx" class='example7'>Set Appoinment</a></li>
                                        <li><a href="Confirm_Appoinment.aspx?PatType=2">Confirm Appoinment</a></li>
                                        <li><a href="SearchPatient.aspx?AppType=View" class='example7'>My Case</a></li>
                                        <li><a href="CourierView.aspx">View Courier Details</a></li>
                                        <li><a href="OPDReport.aspx">All Reports</a></li>
                                   </ul>
                                </li>
                                <li><a href="#">IPD</a>
                                    <ul class="shift4">
                                        <%--<li><a href="OccupiedBed.aspx?Flow=Adm">Admitted Patient List</a></li>--%>
                                        <li><a href="ManageInvestigation.aspx">IPD Round</a></li>
                                        <li><a href="WardNBedStatus.aspx">Admitted Patients</a></li>
                                        <li><a href="ManageBill.aspx">Bill</a></li>
                                        <li><a href="ViewIPDPatientBillReport.aspx">IPD Patient Bill</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Utility</a>
                                   <ul class="shift5">
                                     <li><a href="#">Master</a>
                                         <ul class="shift4a">
                                             <li><a href="AddUser.aspx">User</a></li>
                                             <li><a href="User_Access.aspx">User Access</a></li>
                                             <li><a href="TestMaster.aspx">Test</a></li>
                                             <li><a href="AddNewPatient.aspx?flag=new">Patient</a></li>
                                             <li><a href="AddDoctor.aspx">Doctor</a></li>
                                             <li><a href="RemedyMaster.aspx">Remedy</a></li>
                                             <li><a href="WardTypeMaster.aspx">Ward Type</a></li>
                                             <li><a href="WardMaster.aspx">Ward</a></li>
                                             <li><a href="BadMaster.aspx">Bed</a></li>
                                             <li><a href="Courier.aspx">Courier</a></li>
                                             <li><a href="StateMaster.aspx">State</a></li>
                                             <li><a href="CityMaster.aspx">City</a></li>
                                             <li><a href="ExtraParticularMaster.aspx">Extra Particular</a></li>                        
                                         </ul>
                                     </li>
                                     <li><a href="ManageReport.aspx">My Reports</a></li>
                                     <li><a href="ChangePassword.aspx">Change Password</a></li>
                                     <li><a href="SendBirthSMS.aspx">BirthDay SMS</a></li>
                                   </ul>
                                </li>
                            </ul>
							</nav>
						  </td>
						</tr>
					</table>
				  </td>
				</tr>
			  </table>
			  </td>
		   </tr>   
		   <tr>
			  <td bgcolor="#FFA500"><div style="height:5px;">&nbsp;</div></td>
		   </tr>
		   <tr>
			   <td>
				   <div class="main-body">
					   <%-- <div class="page_wrapper">--%>
							<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
					   <%-- </div>--%>
				   </div>
			   </td>
		   </tr>    
			<tr>
			  <td height="40px" align="center" valign="middle" bgcolor="#FFA500">
				<span class="style5">PMS : CRM | Powered by </span>
				<a href="http://www.ocs.net.in" class="style4" style="text-decoration:none;">OCS</a>
			  </td>
			</tr>
		</table>  
	  </center>
	</form>
</body>
</html>