﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MKBTest.aspx.cs" Inherits="MKBTest" %>
<%@ Register Assembly="TimePicker" Namespace="MKB.TimePicker" TagPrefix="MKB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        <MKB:TimeSelector ID="txtTOA" runat="server" SelectedTimeFormat="TwentyFour">
        </MKB:TimeSelector>
        <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Button" />
        
    </div>
    </form>
</body>
</html>
