﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Test1.aspx.cs" Inherits="Test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        <asp:TextBox ID="txtPwd" runat="server"></asp:TextBox>
        <asp:Button ID="btnEncrypt" runat="server" Text="Encrypt" 
            onclick="btnEncrypt_Click" />
        <asp:TextBox ID="txtPwd_1" runat="server"></asp:TextBox>
        
    </div>
    
    <div>
    
     
    
    </div>
    </form>
</body>
</html>
